/****************************** CARD *****************************************/
body {background-color: rgba(40, 16, 51, 0.295);
color: rgb(48, 3, 49);
font-family:'Times New Roman', Times, serif
}

h1,h2,h3,h4,h5 {
    color:rgb(36, 8, 8);

    font-size:32px;
}
p {

    color:rgb(36, 8, 8);    font-size:16px;
}
ul {

    color:rgb(36, 8, 8);   font: size 14px;
}